pyyaml>=5.1
tensorboard
pycocotools
pyclipper
Polygon3
colorlog
ocrd-fork-pylsd
einops
prefetch_generator
imgaug
lmdb
transformers==4.30.2
torchnet
gdown
webcolors
pandas_profiling
torchvision
imutils